# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Program\cfta_aff_sa net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
